version: '3'
services:
  api-usuarios:
    image: python:3.9-slim
    command: >
      sh -c "pip install flask && python -c 'from flask import Flask; app = Flask(__name__); 
      @app.route(\"/users\") 
      def u(): return \"AREA DE USUARIOS\"; 
      app.run(host=\"0.0.0.0\", port=80)'"
    expose:
      - "80"

  api-pedidos:
    image: python:3.9-slim
    command: >
      sh -c "pip install flask && python -c 'from flask import Flask; app = Flask(__name__); 
      @app.route(\"/orders\") 
      def o(): return \"AREA DE PEDIDOS\"; 
      app.run(host=\"0.0.0.0\", port=80)'"
    expose:
      - "80"

  porta-entrada:
    image: nginx:alpine
    volumes:
      - ./configuracao.conf:/etc/nginx/nginx.conf
    ports:
      - "8080:80"
    depends_on:
      - api-usuarios
      - api-pedidos